{
    "useTabs": false,    
    "printWidth": 120,
    "tabWidth": 4,         
    "singleQuote": false,
    "trailingComma": "none",
    "jsxBracketSameLine": false,
    "parser": "babylon",
    "noSemi": true,
    "rcVerbose": true
}