@charset "UTF-8";
@import "variables.scss";

.button.is-transparent {
    background-color: transparent;
    border-color: transparent;
    color: #fff;
}

.button.is-transparent:hover,
.button.is-transparent.is-hovered {
    background-color: #ff2b56;
    border-color: transparent;
    color: #fff;
}

.button.is-transparent:focus,
.button.is-transparent.is-focused {
    border-color: transparent;
    color: #fff;
}

.button.is-transparent:focus:not(:active),
.button.is-transparent.is-focused:not(:active) {
    box-shadow: 0 0 0 0.125em rgba(255, 56, 96, 0.25);
}

.button.is-transparent:active,
.button.is-transparent.is-active {
    background-color: #ff1f4b;
    border-color: transparent;
    color: #fff;
}

.button.is-transparent[disabled],
fieldset[disabled] .button.is-transparent {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.button.is-transparent.is-inverted {
    background-color: #fff;
    color: transparent;
}

.button.is-transparent.is-inverted:hover,
.button.is-transparent.is-inverted.is-hovered {
    background-color: #f2f2f2;
}

.button.is-transparent.is-inverted[disabled],
fieldset[disabled] .button.is-transparent.is-inverted {
    background-color: #fff;
    border-color: transparent;
    box-shadow: none;
    color: transparent;
}

.button.is-transparent.is-loading::after {
    border-color: transparent transparent #fff #fff !important;
}

.button.is-transparent.is-outlined {
    background-color: transparent;
    border-color: transparent;
    color: transparent;
}

.button.is-transparent.is-outlined:hover,
.button.is-transparent.is-outlined.is-hovered,
.button.is-transparent.is-outlined:focus,
.button.is-transparent.is-outlined.is-focused {
    background-color: transparent;
    border-color: transparent;
    color: #fff;
}

.button.is-transparent.is-outlined.is-loading::after {
    border-color: transparent transparent transparent transparent !important;
}

.button.is-transparent.is-outlined.is-loading:hover::after,
.button.is-transparent.is-outlined.is-loading.is-hovered::after,
.button.is-transparent.is-outlined.is-loading:focus::after,
.button.is-transparent.is-outlined.is-loading.is-focused::after {
    border-color: transparent transparent #fff #fff !important;
}

.button.is-transparent.is-outlined[disabled],
fieldset[disabled] .button.is-transparent.is-outlined {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    color: transparent;
}

.button.is-transparent.is-inverted.is-outlined {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
}

.button.is-transparent.is-inverted.is-outlined:hover,
.button.is-transparent.is-inverted.is-outlined.is-hovered,
.button.is-transparent.is-inverted.is-outlined:focus,
.button.is-transparent.is-inverted.is-outlined.is-focused {
    background-color: #fff;
    color: transparent;
}

.button.is-transparent.is-inverted.is-outlined.is-loading:hover::after,
.button.is-transparent.is-inverted.is-outlined.is-loading.is-hovered::after,
.button.is-transparent.is-inverted.is-outlined.is-loading:focus::after,
.button.is-transparent.is-inverted.is-outlined.is-loading.is-focused::after {
    border-color: transparent transparent transparent transparent !important;
}

.button.is-transparent.is-inverted.is-outlined[disabled],
fieldset[disabled] .button.is-transparent.is-inverted.is-outlined {
    background-color: transparent;
    border-color: #fff;
    box-shadow: none;
    color: #fff;
}

@import "../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../node_modules/bulma/sass/base/_all.sass";
@import "../../../node_modules/bulma/sass/form/_all.sass";
@import "../../../node_modules/bulma-extensions/bulma-checkradio/src/sass/index.sass";
