<div id="examples" style="display: none;">
    <h3 class="is-size-4">Node.JS using node-fetch</h3>
    <h4 class="is-size-6" style="font-weight: normal;">Credit to Cairo#1123</h4>
    <pre class="pre-rounded">npm i node-fetch --save</pre>
    <script src="https://gist.github.com/Cairo2k18/a46ba05746c29e9d664a2efc6c2fbb75.js"></script>
    <br />
    <h3 class="is-size-4">Discord.py</h3>
    <h4 class="is-size-6" style="font-weight: normal;">Credit to DuckMasterAl#0001</h4>
    <script src="https://gist.github.com/Cairo2k18/f034203c7152c3de75efe7f0879d9a97.js"></script>
</div>