<% if (template.defaultMessageNotifications === 0) { %>
    <p><strong><%= __("partials.msgNotifications") %></strong>  <%= __("partials.msgNotifications.0") %></p>
<% } else if (template.defaultMessageNotifications === 1) { %>
    <p><strong><%= __("partials.msgNotifications") %></strong>  <%= __("partials.msgNotifications.1") %></p>
<% } %>