@charset "UTF-8";
@import "variables.scss";

.monaco-editor .button.codicon {
    height: 18px;
    color: #fff !important;
}

.monaco-editor .find-widget .button:not(.disabled):hover {
    background-color: hsla(0, 0%, 100%, 0.1);
}

.monaco-editor .button.codicon.toggle.left {
    padding: 0 !important;
    position: absolute;
    height: 100%;
    display: flex;
    border-radius: 0;
    margin-left: 0;
}

.monaco-editor .find-widget .button {
    background-color: transparent;
    border-color: transparent;
    border-radius: 0;
    padding: 0 !important;
    margin-left: 3px;
}

.monaco-custom-checkbox {
    outline: 0;
}

.monaco-menu .monaco-action-bar.vertical .action-label.separator {
    height: 7px;
}

@import "../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../node_modules/bulma/sass/base/_all.sass";
@import "../../../node_modules/bulma/sass/form/_all.sass";
@import "../../../node_modules/bulma-extensions/bulma-checkradio/src/sass/index.sass";
@import "../../../node_modules/bulma-extensions/bulma-switch/src/sass/index.sass";
@import "../../../node_modules/bulma-extensions/bulma-calendar/src/sass/index.sass";
@import "../../../node_modules/bulma/sass/components/message.sass";
@import "../../../node_modules/bulma/sass/elements/content.sass";
