@charset "UTF-8";
@import "variables.scss";
@import "../../../node_modules/bulma/sass/utilities/_all.sass";

h1 {
    font-size: 48px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

strong {
    color: #fff;
}

code {
    background-color: #1f1f1f;
}

pre {
    color: #ff3860;
    background-color: #1f1f1f;
}

table th {
    color: #d2d2d2;
}

.content a:hover {
    color: #1c5abd;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    color: #fff;
    font-weight: inherit;
}

table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
    -webkit-overflow-scrolling: touch;
}

blockquote {
    background-color: transparent !important;
}

.tag.hover:hover {
    text-decoration: none;
    &.is-link {
        background-color: bulmaDarken($link, 2.5%);
    }
    
    &.is-info {
        background-color: bulmaDarken($info, 2.5%);
    }
    
    &.is-success {
        background-color: bulmaDarken($success, 2.5%);
    }
    
    &.is-orange {
        background-color: bulmaDarken($orange, 2.5%);
    }
    
    &.is-danger {
        background-color: bulmaDarken($danger, 2.5%);
    }
    
    &.is-magenta {
        background-color: bulmaDarken($magenta, 2.5%);
    }
    
    &.is-pink {
        background-color: bulmaDarken($pink, 2.5%);
    }

    &.is-blurple {
        background-color: bulmaDarken($blurple, 2.5%);
    }
}

.tab-content {
    display: none;

    &.is-active {
        display: block;
    }
}

.infoColumn {
    border-radius: 5px;
    background-color: $primary;
    padding: 15px;
}

@import "../../../node_modules/bulma/sass/base/_all.sass";
@import "../../../node_modules/bulma/sass/components/message.sass";
@import "../../../node_modules/bulma/sass/elements/content.sass";
@import "../../../node_modules/bulma/sass/components/tabs.sass";
@import "../../../node_modules/bulma/sass/components/message.sass";
