<style>body{background-color:black;color:white;}</style>
<h1 style="color: red;"><%= __("page.banned") %></h1>
<h2><%= __("page.banned.message") %></h2>
<button onclick="window.location = 'mailto:contact@discordextremelist.xyz';"><%= __("page.banned.appeal") %></button>