<style>body{background-color:black;color:white;}</style>
<h1 style="color: red;"><%= __("A critical error has occurred.") %></h1>
<h2><%= message %></h2>
<h3><%= error.status %></h3>
<pre><%= error.stack %></pre>
<br />
<button onclick="window.location = '/';">Home</button>
<button onclick="history.back();">Go Back</button>
