// Primary colours - note, these are not linked in their respective themes and need to be updated manually
$primary-black: #0e0e0e;
$primary-dark: #23272A;
$primary-light: #ececec;

// Secondary colours

$danger: #FA0620;
$success: #0dbf04;
$warning: #ffd400;
$link: #4756f6;
$info: #82cffa;
$white: #fff !default;
$black: #000 !default;

$standard-colors: ( // This is for the purpose of extensions, and doesn't include all colours, just the ones used
    "danger": (
        $danger,
        #fff
    ),
    "success": (
        $success,
        #fff
    ),
    "warning": (
        $warning,
        #fff
    ),
    "light": (
        $white,
        $black
    ),
    "info": (
        $info,
        #000,
    ),
    "link": (
        $link,
        #fff,
    ),
);


// Custom colours

$orange: #f24405;
$orange-invert: #fff;

$magenta: #BA2EFF;
$magenta-invert: #fff;

$red: #fc1616;
$red-invert: #fff;

$gold: #ff8400;
$gold-invert: #322B08;

$pink: #ff3370;
$pink-invert: #fff;

$blurple: #5865f2;
$blurple-invert: #fff;
$blurple-text: #707bf4;

$custom-colors: (
    "orange": (
        $orange,
        $orange-invert
    ),
    "magenta": (
        $magenta,
        $magenta-invert
    ),
    "red": (
        $red,
        $red-invert
    ),
    "gold": (
        $gold,
        $gold-invert
    ),
    "pink": (
        $pink,
        $pink-invert
    ),
    "blurple": (
        $blurple,
        $blurple-invert
    ),
);