<div class="control">
    <p class="tag is-default">
        <span class="icon">
            <i aria-hidden="true" class="fas fa-tag"></i>
        </span>
        <span><%= __(tag) %></span>
    </p>
</div>