<div id="libraries" style="display: none;">
    <h3 class="is-size-4">Node.JS - discordextremelist.xyz</h3>
    <article class="message is-danger">
        <div class="message-body content has-background-primary">
            <span class="icon">
                <i class="fas fa-exclamation-triangle"></i>
            </span>
            <span>
                <%= __("docs.incompatibleLib") %>
            </span>
        </div>
    </article>
    <pre>
        <code class="language-javascript">
const DEL = require('discordextremelist.xyz');
const client = new DEL.Client('Bot ID', 'API Token');

client.getBot('507970352501227523').then((bot) => {
    console.log(bot);
}).catch((e) => {
    console.error(e);
});

client.getUser('478255216588750858').then((user) => {
    console.log(user);
}).catch((e) => {
    console.error(e);
});

client.getWidget('507970352501227523').then((widget) => {
    console.log(widget);
}).catch((e) => {
    console.error(e);
});

client.updateCount(123).then((bot) => {
    console.log('Server count has been updated', bot);
}).catch((e) => {
    console.error(e);
});
    </code>
    </pre>
</div>