<div id="libraries" style="display: none;">
    <h3 class="is-size-4">Node.JS - discordextremelist.xyz</h3>
    <h4 class="is-size-6" style="font-weight: normal;"><%= __("docs.credit", "Jacob_#1234") %></h4>
    <article class="message is-danger">
        <div class="message-body content has-background-primary">
            <span class="icon">
                <i class="fas fa-exclamation-triangle"></i>
            </span>
            <span>
                <%= __("docs.incompatibleLib") %>
            </span>
        </div>
    </article>
    <pre class="pre-rounded">npm i discordextremelist.xyz --save</pre>
    <script src="https://gist.github.com/carolinaisslaying/cde2c77a9c07b7c9474357c5d2db0d80.js"></script>
</div>
