<div id="libraries" style="display: none;">
    <h3 class="is-size-4">Node.JS using Del.js</h3>
    <h4 class="is-size-6" style="font-weight: normal;"><%= __("docs.credit", "@carolinaisslaying") %> (<a class="has-text-link" href="https://www.npmjs.com/package/@discordextremelist/del.js">View Del.js on npm</a>) (<a class="has-text-link" href="https://gist.github.com/dellybot/fd54ecaf078b336ee321002ebcc8e16d">View Gist</a>)</h4>
    <pre class="pre-rounded">npm i @discordextremelist/del.js --save</pre>
    <p>This example demonstrates how to post your server count to the DEL API:</p>
    <script src="https://gist.github.com/dellybot/fd54ecaf078b336ee321002ebcc8e16d.js"></script>
    <p>The API wrapper also has functions for all other DEL API endpoints, for more information <a class="has-text-link" href="https://github.com/discordextremelist/del.js/blob/main/del.ts">read the code on GitHub</a>.</p>
    <br />
    <h3 class="is-size-4">Del.py for Discord.py</h3>
    <h4 class="is-size-6" style="font-weight: normal;"><%= __("docs.credit", "@moksej") %> (<a class="has-text-link" href="https://pypi.org/project/DEL.py">View Del.py on PyPI</a>) (<a class="has-text-link" href="https://gist.github.com/dellybot/42f98944ed7866c1d66d4366d16bf3da">View Gist</a>)</h4>
    <pre class="pre-rounded">pip install DEL.py</pre>
    <p>This example demonstrates how to post your server count to the DEL API:</p>
    <script src="https://gist.github.com/dellybot/42f98944ed7866c1d66d4366d16bf3da.js"></script>
    <p>The API wrapper also has functions for all other DEL API endpoints, for more information <a class="has-text-link" href="https://github.com/discordextremelist/del.py/blob/master/examples.md">read the examples MD file on GitHub</a>.</p>
</div>
