@charset "UTF-8";

.backdrop {
    filter: drop-shadow(0px 1px 2px #566574);
}

.editorBackdrop {
    filter: drop-shadow(0px 1px 2px #b114ff);
}

.snakeDeath {
    filter: drop-shadow(0px 4px 5px #cd0930);
}

.snakePoint {
    filter: drop-shadow(0px 4px 5px #0dbf04);
}

.snakeNormal {
    filter: drop-shadow(0px 4px 5px #ffffff);
}

.circular {
    border-radius: 6px;
}

.message {
    border-radius: 10px !important;
}

.iconalign {
    margin-right: 6px;
}

.navbar-burger:hover {
    color: hsl(0, 0%, 98%);
}

@-webkit-keyframes online {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(13, 191, 4, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 20px rgba(13, 191, 4, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(13, 191, 4, 0);
    }
}

@keyframes online {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(13, 191, 4, 0.4);
        box-shadow: 0 0 0 0 rgba(13, 191, 4, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 20px rgba(13, 191, 4, 0);
        box-shadow: 0 0 0 20px rgba(13, 191, 4, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(13, 191, 4, 0);
        box-shadow: 0 0 0 0 rgba(13, 191, 4, 0);
    }
}

@-webkit-keyframes idle {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 221, 87, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 20px rgba(255, 221, 87, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 221, 87, 0);
    }
}

@keyframes idle {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 221, 87, 0.4);
        box-shadow: 0 0 0 0 rgba(255, 221, 87, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 20px rgba(255, 221, 87, 0);
        box-shadow: 0 0 0 20px rgba(255, 221, 87, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 20px rgba(255, 221, 87, 0);
        box-shadow: 0 0 0 20px rgba(255, 221, 87, 0);
    }
}

@-webkit-keyframes dnd {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(205, 9, 48, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 20px rgba(205, 9, 48, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(205, 9, 48, 0);
    }
}

@keyframes dnd {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(205, 9, 48, 0.4);
        box-shadow: 0 0 0 0 rgba(205, 9, 48, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 20px rgba(205, 9, 48, 0);
        box-shadow: 0 0 0 20px rgba(205, 9, 48, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 20px rgba(205, 9, 48, 0);
        box-shadow: 0 0 0 20px rgba(205, 9, 48, 0);
    }
}

@-webkit-keyframes offline {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(181, 181, 181, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 20px rgba(181, 181, 181, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(181, 181, 181, 0);
    }
}

@keyframes offline {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(181, 181, 181, 0.4);
        box-shadow: 0 0 0 0 rgba(181, 181, 181, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 20px rgba(181, 181, 181, 0);
        box-shadow: 0 0 0 20px rgba(181, 181, 181, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 20px rgba(181, 181, 181, 0);
        box-shadow: 0 0 0 20px rgba(181, 181, 181, 0);
    }
}

.pagination-link {
    background-color: #0a0a0a;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

#siteContent {
    flex: 1 0 auto;
}

#siteFooter {
    flex-shrink: 0;
    border-radius: 40px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}

img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 0.05em 0 0.1em;
    vertical-align: -0.229em;
}

a:hover {
    color: #2a64dc;
}

iframe {
    border-radius: 5px;
}

.dropdown-arrow {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    float: right;
}

.transform > .emoji {
    transform: rotate(180deg);
}
