@charset "UTF-8";

.backdrop {
    filter: drop-shadow(0px 1px 2px #566574);
}

.editorBackdrop {
    filter: drop-shadow(0px 1px 2px #b114ff);
}

.snakeDeath {
    filter: drop-shadow(0px 4px 5px #cd0930);
}

.snakePoint {
    filter: drop-shadow(0px 4px 5px #0dbf04);
}

.snakeNormal {
    filter: drop-shadow(0px 4px 5px #ffffff);
}

.circular {
    border-radius: 6px;
}

.message {
    border-radius: 10px !important;
}

.has-text-blurple {
    color: #7289da !important;
}
a.has-text-blurple:hover,
a.has-text-blurple:focus {
    color: #4a67cf !important;
}
.has-text-orange {
    color: #f24405 !important;
}
a.has-text-orange:hover,
a.has-text-orange:focus {
    color: #c03604 !important;
}
.has-text-magenta {
    color: #b114ff !important;
}
a.has-text-magenta:hover,
a.has-text-magenta:focus {
    color: #9600e0 !important;
}
.has-text-pink {
    color: #ff3370 !important;
}
a.has-text-pink:hover,
a.has-text-pink:focus {
    color: #ff004c !important;
}
.has-text-red {
    color: #fc1616 !important;
}

.button.is-blurple {
    background-color: #7289da;
    border-color: transparent;
    color: #fff;
}
.button.is-blurple:hover,
.button.is-blurple.is-hovered {
    background-color: #6881d7;
    border-color: transparent;
    color: #fff;
}
.button.is-blurple:focus,
.button.is-blurple.is-focused {
    border-color: transparent;
    color: #fff;
}
.button.is-blurple:focus:not(:active),
.button.is-blurple.is-focused:not(:active) {
    box-shadow: 0 0 0 0.125em rgba(114, 137, 218, 0.25);
}
.button.is-blurple:active,
.button.is-blurple.is-active {
    background-color: #5e78d5;
    border-color: transparent;
    color: #fff;
}
.button.is-blurple[disabled],
fieldset[disabled] .button.is-blurple {
    background-color: #7289da;
    border-color: transparent;
    box-shadow: none;
}
.button.is-blurple.is-inverted {
    background-color: #fff;
    color: #7289da;
}
.button.is-blurple.is-inverted:hover,
.button.is-blurple.is-inverted.is-hovered {
    background-color: #f2f2f2;
}
.button.is-blurple.is-inverted[disabled],
fieldset[disabled] .button.is-blurple.is-inverted {
    background-color: #fff;
    border-color: transparent;
    box-shadow: none;
    color: #7289da;
}
.button.is-blurple.is-loading::after {
    border-color: transparent transparent #fff #fff !important;
}
.button.is-blurple.is-outlined {
    background-color: transparent;
    border-color: #7289da;
    color: #7289da;
}
.button.is-blurple.is-outlined:hover,
.button.is-blurple.is-outlined.is-hovered,
.button.is-blurple.is-outlined:focus,
.button.is-blurple.is-outlined.is-focused {
    background-color: #7289da;
    border-color: #7289da;
    color: #fff;
}
.button.is-blurple.is-outlined.is-loading::after {
    border-color: transparent transparent #7289da #7289da !important;
}
.button.is-blurple.is-outlined.is-loading:hover::after,
.button.is-blurple.is-outlined.is-loading.is-hovered::after,
.button.is-blurple.is-outlined.is-loading:focus::after,
.button.is-blurple.is-outlined.is-loading.is-focused::after {
    border-color: transparent transparent #fff #fff !important;
}
.button.is-blurple.is-outlined[disabled],
fieldset[disabled] .button.is-blurple.is-outlined {
    background-color: transparent;
    border-color: #7289da;
    box-shadow: none;
    color: #7289da;
}
.button.is-blurple.is-inverted.is-outlined {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
}
.button.is-blurple.is-inverted.is-outlined:hover,
.button.is-blurple.is-inverted.is-outlined.is-hovered,
.button.is-blurple.is-inverted.is-outlined:focus,
.button.is-blurple.is-inverted.is-outlined.is-focused {
    background-color: #fff;
    color: #7289da;
}
.button.is-blurple.is-inverted.is-outlined.is-loading:hover::after,
.button.is-blurple.is-inverted.is-outlined.is-loading.is-hovered::after,
.button.is-blurple.is-inverted.is-outlined.is-loading:focus::after,
.button.is-blurple.is-inverted.is-outlined.is-loading.is-focused::after {
    border-color: transparent transparent #7289da #7289da !important;
}
.button.is-blurple.is-inverted.is-outlined[disabled],
fieldset[disabled] .button.is-blurple.is-inverted.is-outlined {
    background-color: transparent;
    border-color: #fff;
    box-shadow: none;
    color: #fff;
}
.button.is-orange {
    background-color: #f24405;
    border-color: transparent;
    color: #fff;
}
.button.is-orange:hover,
.button.is-orange.is-hovered {
    background-color: #e64005;
    border-color: transparent;
    color: #fff;
}
.button.is-orange:focus,
.button.is-orange.is-focused {
    border-color: transparent;
    color: #fff;
}
.button.is-orange:focus:not(:active),
.button.is-orange.is-focused:not(:active) {
    box-shadow: 0 0 0 0.125em rgba(242, 68, 5, 0.25);
}
.button.is-orange:active,
.button.is-orange.is-active {
    background-color: #d93d04;
    border-color: transparent;
    color: #fff;
}
.button.is-orange[disabled],
fieldset[disabled] .button.is-orange {
    background-color: #f24405;
    border-color: transparent;
    box-shadow: none;
}
.button.is-orange.is-inverted {
    background-color: #fff;
    color: #f24405;
}
.button.is-orange.is-inverted:hover,
.button.is-orange.is-inverted.is-hovered {
    background-color: #f2f2f2;
}
.button.is-orange.is-inverted[disabled],
fieldset[disabled] .button.is-orange.is-inverted {
    background-color: #fff;
    border-color: transparent;
    box-shadow: none;
    color: #f24405;
}
.button.is-orange.is-loading::after {
    border-color: transparent transparent #fff #fff !important;
}
.button.is-orange.is-outlined {
    background-color: transparent;
    border-color: #f24405;
    color: #f24405;
}
.button.is-orange.is-outlined:hover,
.button.is-orange.is-outlined.is-hovered,
.button.is-orange.is-outlined:focus,
.button.is-orange.is-outlined.is-focused {
    background-color: #f24405;
    border-color: #f24405;
    color: #fff;
}
.button.is-orange.is-outlined.is-loading::after {
    border-color: transparent transparent #f24405 #f24405 !important;
}
.button.is-orange.is-outlined.is-loading:hover::after,
.button.is-orange.is-outlined.is-loading.is-hovered::after,
.button.is-orange.is-outlined.is-loading:focus::after,
.button.is-orange.is-outlined.is-loading.is-focused::after {
    border-color: transparent transparent #fff #fff !important;
}
.button.is-orange.is-outlined[disabled],
fieldset[disabled] .button.is-orange.is-outlined {
    background-color: transparent;
    border-color: #f24405;
    box-shadow: none;
    color: #f24405;
}
.button.is-orange.is-inverted.is-outlined {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
}
.button.is-orange.is-inverted.is-outlined:hover,
.button.is-orange.is-inverted.is-outlined.is-hovered,
.button.is-orange.is-inverted.is-outlined:focus,
.button.is-orange.is-inverted.is-outlined.is-focused {
    background-color: #fff;
    color: #f24405;
}
.button.is-orange.is-inverted.is-outlined.is-loading:hover::after,
.button.is-orange.is-inverted.is-outlined.is-loading.is-hovered::after,
.button.is-orange.is-inverted.is-outlined.is-loading:focus::after,
.button.is-orange.is-inverted.is-outlined.is-loading.is-focused::after {
    border-color: transparent transparent #f24405 #f24405 !important;
}
.button.is-orange.is-inverted.is-outlined[disabled],
fieldset[disabled] .button.is-orange.is-inverted.is-outlined {
    background-color: transparent;
    border-color: #fff;
    box-shadow: none;
    color: #fff;
}
.button.is-magenta {
    background-color: #b114ff;
    border-color: transparent;
    color: #fff;
}
.button.is-magenta:hover,
.button.is-magenta.is-hovered {
    background-color: #ad07ff;
    border-color: transparent;
    color: #fff;
}
.button.is-magenta:focus,
.button.is-magenta.is-focused {
    border-color: transparent;
    color: #fff;
}
.button.is-magenta:focus:not(:active),
.button.is-magenta.is-focused:not(:active) {
    box-shadow: 0 0 0 0.125em rgba(242, 68, 5, 0.25);
}
.button.is-magenta:active,
.button.is-magenta.is-active {
    background-color: #d93d04;
    border-color: transparent;
    color: #fff;
}
.button.is-magenta[disabled],
fieldset[disabled] .button.is-magenta {
    background-color: #b114ff;
    border-color: transparent;
    box-shadow: none;
}
.button.is-magenta.is-inverted {
    background-color: #fff;
    color: #b114ff;
}
.button.is-magenta.is-inverted:hover,
.button.is-magenta.is-inverted.is-hovered {
    background-color: #f2f2f2;
}
.button.is-magenta.is-inverted[disabled],
fieldset[disabled] .button.is-magenta.is-inverted {
    background-color: #fff;
    border-color: transparent;
    box-shadow: none;
    color: #b114ff;
}
.button.is-magenta.is-loading::after {
    border-color: transparent transparent #fff #fff !important;
}
.button.is-magenta.is-outlined {
    background-color: transparent;
    border-color: #b114ff;
    color: #b114ff;
}
.button.is-magenta.is-outlined:hover,
.button.is-magenta.is-outlined.is-hovered,
.button.is-magenta.is-outlined:focus,
.button.is-magenta.is-outlined.is-focused {
    background-color: #b114ff;
    border-color: #b114ff;
    color: #fff;
}
.button.is-magenta.is-outlined.is-loading::after {
    border-color: transparent transparent #b114ff #b114ff !important;
}
.button.is-magenta.is-outlined.is-loading:hover::after,
.button.is-magenta.is-outlined.is-loading.is-hovered::after,
.button.is-magenta.is-outlined.is-loading:focus::after,
.button.is-magenta.is-outlined.is-loading.is-focused::after {
    border-color: transparent transparent #fff #fff !important;
}
.button.is-magenta.is-outlined[disabled],
fieldset[disabled] .button.is-magenta.is-outlined {
    background-color: transparent;
    border-color: #b114ff;
    box-shadow: none;
    color: #b114ff;
}
.button.is-magenta.is-inverted.is-outlined {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
}
.button.is-magenta.is-inverted.is-outlined:hover,
.button.is-magenta.is-inverted.is-outlined.is-hovered,
.button.is-magenta.is-inverted.is-outlined:focus,
.button.is-magenta.is-inverted.is-outlined.is-focused {
    background-color: #fff;
    color: #b114ff;
}
.button.is-magenta.is-inverted.is-outlined.is-loading:hover::after,
.button.is-magenta.is-inverted.is-outlined.is-loading.is-hovered::after,
.button.is-magenta.is-inverted.is-outlined.is-loading:focus::after,
.button.is-magenta.is-inverted.is-outlined.is-loading.is-focused::after {
    border-color: transparent transparent #b114ff #b114ff !important;
}
.button.is-magenta.is-inverted.is-outlined[disabled],
fieldset[disabled] .button.is-magenta.is-inverted.is-outlined {
    background-color: transparent;
    border-color: #fff;
    box-shadow: none;
    color: #fff;
}

.tag:not(body).is-orange {
    background-color: #f24405;
    color: #fff;
}
.tag:not(body).is-magenta {
    background-color: #b114ff;
    color: #fff;
}
.tag:not(body).is-pink {
    background-color: #ff3370;
    color: #fff;
}

.iconalign {
    margin-right: 6px;
}

.navbar-burger:hover {
    color: hsl(0, 0%, 98%);
}

@-webkit-keyframes online {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(13, 191, 4, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 20px rgba(13, 191, 4, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(13, 191, 4, 0);
    }
}

@keyframes online {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(13, 191, 4, 0.4);
        box-shadow: 0 0 0 0 rgba(13, 191, 4, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 20px rgba(13, 191, 4, 0);
        box-shadow: 0 0 0 20px rgba(13, 191, 4, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(13, 191, 4, 0);
        box-shadow: 0 0 0 0 rgba(13, 191, 4, 0);
    }
}

@-webkit-keyframes idle {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 221, 87, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 20px rgba(255, 221, 87, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 221, 87, 0);
    }
}

@keyframes idle {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 221, 87, 0.4);
        box-shadow: 0 0 0 0 rgba(255, 221, 87, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 20px rgba(255, 221, 87, 0);
        box-shadow: 0 0 0 20px rgba(255, 221, 87, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 20px rgba(255, 221, 87, 0);
        box-shadow: 0 0 0 20px rgba(255, 221, 87, 0);
    }
}

@-webkit-keyframes dnd {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(205, 9, 48, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 20px rgba(205, 9, 48, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(205, 9, 48, 0);
    }
}

@keyframes dnd {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(205, 9, 48, 0.4);
        box-shadow: 0 0 0 0 rgba(205, 9, 48, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 20px rgba(205, 9, 48, 0);
        box-shadow: 0 0 0 20px rgba(205, 9, 48, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 20px rgba(205, 9, 48, 0);
        box-shadow: 0 0 0 20px rgba(205, 9, 48, 0);
    }
}

@-webkit-keyframes offline {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(181, 181, 181, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 20px rgba(181, 181, 181, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(181, 181, 181, 0);
    }
}

@keyframes offline {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(181, 181, 181, 0.4);
        box-shadow: 0 0 0 0 rgba(181, 181, 181, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 20px rgba(181, 181, 181, 0);
        box-shadow: 0 0 0 20px rgba(181, 181, 181, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 20px rgba(181, 181, 181, 0);
        box-shadow: 0 0 0 20px rgba(181, 181, 181, 0);
    }
}

.pagination-link {
    background-color: #0a0a0a;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

#siteContent {
    flex: 1 0 auto;
}

#siteFooter {
    flex-shrink: 0;
    border-radius: 40px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}

img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 0.05em 0 0.1em;
    vertical-align: -0.229em;
}

a:hover {
    color: #2a64dc;
}

iframe {
    border-radius: 5px;
}

.dropdown-arrow {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    float: right;
}

.transform > .emoji {
    transform: rotate(180deg);
}
