@charset "UTF-8";
@import "variables.scss";

// .is-checkradio[type="checkbox"].is-magenta.has-background-color+label::before,.is-checkradio[type="checkbox"].is-magenta.has-background-color+label:before{border-color:transparent !important;background-color:#b114ff !important}.is-checkradio[type="checkbox"].is-magenta:hover:not([disabled])+label::before,.is-checkradio[type="checkbox"].is-magenta:hover:not([disabled])+label:before{border-color:#b114ff !important}.is-checkradio[type="checkbox"].is-magenta:checked+label::after,.is-checkradio[type="checkbox"].is-magenta:checked+label:after{border-color:#b114ff !important}.is-checkradio[type="checkbox"].is-magenta:checked.has-background-color+label::before,.is-checkradio[type="checkbox"].is-magenta:checked.has-background-color+label:before{border-color:transparent !important;background-color:#b114ff !important}.is-checkradio[type="checkbox"].is-magenta:checked.has-background-color+label::after,.is-checkradio[type="checkbox"].is-magenta:checked.has-background-color+label:after{border-color:#fff !important;background-color:#b114ff !important}.is-checkradio[type="checkbox"].is-magenta.is-block:hover:not([disabled])+label::after,.is-checkradio[type="checkbox"].is-magenta.is-block:hover:not([disabled])+label:after,.is-checkradio[type="checkbox"].is-magenta.is-block:hover:not([disabled])+label::before,.is-checkradio[type="checkbox"].is-magenta.is-block:hover:not([disabled])+label:before{border-color:#b114ff !important}.is-checkradio[type="checkbox"].is-magenta.is-block:checked+label{color:#fff;border-color:#b114ff !important;background:#b114ff}.is-checkradio[type="checkbox"].is-magenta.is-block:checked+label::after,.is-checkradio[type="checkbox"].is-magenta.is-block:checked+label:after{border-color:#fff !important}.is-checkradio[type="checkbox"].is-magenta.is-block:checked:hover:not([disabled])+label{background:#a700fa}.is-checkradio[type="checkbox"].is-magenta.is-block:checked:hover:not([disabled])+label::after,.is-checkradio[type="checkbox"].is-magenta.is-block:checked:hover:not([disabled])+label:after,.is-checkradio[type="checkbox"].is-magenta.is-block:checked:hover:not([disabled])+label::before,.is-checkradio[type="checkbox"].is-magenta.is-block:checked:hover:not([disabled])+label:before{border-color:#f2f2f2 !important}
.is-checkradio[type="checkbox"].is-pink.has-background-color + label::before,
.is-checkradio[type="checkbox"].is-pink.has-background-color + label:before {
    border-color: transparent !important;
    background-color: #ff3370 !important;
}

.is-checkradio[type="checkbox"].is-pink:hover:not([disabled]) + label::before,
.is-checkradio[type="checkbox"].is-pink:hover:not([disabled]) + label:before {
    border-color: #ff3370 !important;
}

.is-checkradio[type="checkbox"].is-pink:checked + label::after,
.is-checkradio[type="checkbox"].is-pink:checked + label:after {
    border-color: #ff3370 !important;
}

.is-checkradio[type="checkbox"].is-pink:checked.has-background-color
    + label::before,
.is-checkradio[type="checkbox"].is-pink:checked.has-background-color
    + label:before {
    border-color: transparent !important;
    background-color: #ff3370 !important;
}

.is-checkradio[type="checkbox"].is-pink:checked.has-background-color
    + label::after,
.is-checkradio[type="checkbox"].is-pink:checked.has-background-color
    + label:after {
    border-color: #fff !important;
    background-color: #ff3370 !important;
}

.is-checkradio[type="checkbox"].is-pink.is-block:hover:not([disabled])
    + label::after,
.is-checkradio[type="checkbox"].is-pink.is-block:hover:not([disabled])
    + label:after,
.is-checkradio[type="checkbox"].is-pink.is-block:hover:not([disabled])
    + label::before,
.is-checkradio[type="checkbox"].is-pink.is-block:hover:not([disabled])
    + label:before {
    border-color: #ff3370 !important;
}

.is-checkradio[type="checkbox"].is-pink.is-block:checked + label {
    color: #fff;
    border-color: #ff3370 !important;
    background: #ff3370;
}

.is-checkradio[type="checkbox"].is-pink.is-block:checked + label::after,
.is-checkradio[type="checkbox"].is-pink.is-block:checked + label:after {
    border-color: #fff !important;
}

.is-checkradio[type="checkbox"].is-pink.is-block:checked:hover:not([disabled])
    + label {
    background: #ff1a5e;
}

.is-checkradio[type="checkbox"].is-pink.is-block:checked:hover:not([disabled])
    + label::after,
.is-checkradio[type="checkbox"].is-pink.is-block:checked:hover:not([disabled])
    + label:after,
.is-checkradio[type="checkbox"].is-pink.is-block:checked:hover:not([disabled])
    + label::before,
.is-checkradio[type="checkbox"].is-pink.is-block:checked:hover:not([disabled])
    + label:before {
    border-color: #f2f2f2 !important;
}

.switch[type="checkbox"].is-gold:checked + label::before,
.switch[type="checkbox"].is-gold:checked + label:before {
    background: #ff8400;
}

.switch[type="checkbox"].is-gold.is-outlined:checked + label::before,
.switch[type="checkbox"].is-gold.is-outlined:checked + label:before {
    background-color: transparent;
    border-color: #ff8400 !important;
}

.switch[type="checkbox"].is-gold.is-outlined:checked + label::after,
.switch[type="checkbox"].is-gold.is-outlined:checked + label:after {
    background: #ff8400;
}

.switch[type="checkbox"].is-gold.is-thin.is-outlined + label::after,
.switch[type="checkbox"].is-gold.is-thin.is-outlined + label:after {
    box-shadow: none;
}

.switch[type="checkbox"].is-red:checked + label::before,
.switch[type="checkbox"].is-red:checked + label:before {
    background: #fc1616;
}

.switch[type="checkbox"].is-red.is-outlined:checked + label::before,
.switch[type="checkbox"].is-red.is-outlined:checked + label:before {
    background-color: transparent;
    border-color: #fc1616 !important;
}

.switch[type="checkbox"].is-red.is-outlined:checked + label::after,
.switch[type="checkbox"].is-red.is-outlined:checked + label:after {
    background: #fc1616;
}

.switch[type="checkbox"].is-red.is-thin.is-outlined + label::after,
.switch[type="checkbox"].is-red.is-thin.is-outlined + label:after {
    box-shadow: none;
}

.switch[type="checkbox"]+label::before,
.switch[type="checkbox"]+label:before,
.switch[type="checkbox"]+label::after,
.switch[type="checkbox"]+label:after {
    outline: 0
}

.monaco-editor .button.codicon {
    height: 18px;
    color: #fff !important;
}

.monaco-editor .find-widget .button:not(.disabled):hover {
    background-color: hsla(0, 0%, 100%, 0.1);
}

.monaco-editor .button.codicon.toggle.left {
    padding: 0 !important;
    position: absolute;
    height: 100%;
    display: flex;
    border-radius: 0;
    margin-left: 0;
}

.monaco-editor .find-widget .button {
    background-color: transparent;
    border-color: transparent;
    border-radius: 0;
    padding: 0 !important;
    margin-left: 3px;
}

.monaco-custom-checkbox {
    outline: 0;
}

.monaco-menu .monaco-action-bar.vertical .action-label.separator {
    height: 7px;
}

$orange: #f24405;
$orange-invert: #ffffff;

$magenta: #b114ff;
$magenta-invert: #ffffff;

$custom-colors: (
    "orange": (
        $orange,
        $orange-invert
    ),
    "magenta": (
        $magenta,
        $magenta-invert
    )
);

@import "../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../node_modules/bulma/sass/base/_all.sass";
@import "../../../node_modules/bulma/sass/form/_all.sass";
@import "../../../node_modules/bulma-extensions/bulma-checkradio/src/sass/index.sass";
@import "../../../node_modules/bulma-extensions/bulma-switch/src/sass/index.sass";
@import "../../../node_modules/bulma-extensions/bulma-calendar/src/sass/index.sass";
@import "../../../node_modules/bulma/sass/components/message.sass";
@import "../../../node_modules/bulma/sass/elements/content.sass";
