name: Deploy
on:
  push:
    tags:
      - 'v*-Release'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Login
        run: echo "${{secrets.DOCKER_PASSWORD}}" | docker login ${{secrets.DOCKER_URL}} -u admin --password-stdin
      - name: Build
        run: docker build -t ${{ secrets.DOCKER_URL }}/del/site:${{github.ref#refs/tags}} .
      - name: Push
        run: docker push ${{ secrets.DOCKER_URL }}/del/site:${{github.ref#refs/tags}}
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Login
        run: |
          mkdir ~/.kube
          echo "${{ secrets.KUBE_CONFIG }}" > ~/.kube/config
      - name: Set image
        run: kubectl set image deployment/site site=${{ secrets.DOCKER_URL }}/del/site:${{github.ref#refs/tags}}
      - name: Rollout status
        run: kubectl rollout status deployment/site